#actionbar {
    height: 60;
    width: 100%;
    font-size: 25;
    background: #9f3b3b;
}
    #actionbar > FlexBoxLayout {
        height:100%;
    }
    #actionbar Label {
        margin-top: -2;
        color: #fff;
    }
    #actionbar Image {
        width: 60;
        padding: 10 0;
        background: rgba(255,255,255,0);
    }