
.mainContent {
    margin: 10;
} 
    .mainContent-post {
        margin: 10;
    }
        .mainContent-post > Image {
            width:70%;
            margin-top: 25;
            margin-bottom: 5;
        }
        .mainContent-post > Label {
            width:100%;
            padding: 10 0;
            text-align:center;
            font:16 "OpenSans";
            font-weight: 700;
            color:#fff;
        }