
#topBarBase {
    height: 60;
    width: 100%;
    font-size: 25;
    background: #9f3b3b;
    color: white;
}
    #topBarBase > Label {
        margin-top: 12;
        margin-left: 15;
    }
    #topBarBase > Image {
        margin: 12 15 12 5;
        border-radius: 50%;
    }

.mainContent {
    margin: 10;
} 
    .mainContent-post {
        margin: 10;
    }
        .mainContent-post > Image {
            width:70%;
            margin-top: 25;
            margin-bottom: 5;
        }
        .mainContent-post > Label {
            width:100%;
            padding: 10 0;
            text-align:center;
            font:16 "OpenSans";
            font-weight: 700;
            color:#fff;
        }