.top-bar {
    height: 150px;
    width: 100%;
    font-size: 24;
    background: crimson;
    text-align: center;
    color: white;
}

.icon-container {
    align-content: right;
    width: 20%;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: block;
}

.activity-name {
    width: 80%;
    text-align: left;
}

.feature-btn {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: 10px 10px 10px 10px;
}