@import '../../../common/style/cockpit.css';
@import '../../../common/style/backActionbar.css';

#plusImg {
    background: #9f3b3b;
    border-radius: 100%;
    width: 80%;
    height: 40;
    padding: 4 4;
    margin-top: 20;
    margin-bottom: 10;
}
#expandImg {
    width: 23;
}