@import '../../../common/style/cockpit.css';
@import '../../../common/style/backActionbar.css';

Tabs TabStrip
{
    font-size: 16;
    background-color: #9f3b3b;
    color: white;
    highlight-color: white;
}

Tabs TabStripItem Label {
    font-size: 14;
    font-weight: bold;
    text-transform: uppercase;
}


Tabs TabStripItem {
    background-color: #9f3b3b;
    color: #c4c4c4;
}

Tabs TabStripItem:active {
    color: #FFFFFF;
}


#body {
    padding: 0 10 0 10;
}

#body > Label {
    color: black;
    margin: 10 0 10 0;
    font-size: 20;
    font: 18 "OpenSans";
    font-weight: bold;
}

Button {
    font: 18 "OpenSans";
    font-weight: bold;
    color: #fff;
    width: 90%;
    height: 50;
    border-radius: 100%;
    margin: 20 0 10 0;
}
    .signButton {
        background: green;
    }

    .quitButton {
        background: red;
    }

.dockList {
    padding: 12 0 12 0;
}

    .dockList > Image {
        width: 23;
        margin-right: 10;
    }

    .employeesList {
        background: #ebebeb;
    }