@import '../../../common/style/cockpit.css';
@import '../../../common/style/backActionbar.css';


.signButton {
    font: 18 "OpenSans";
    font-weight: bold;
    color: #fff;
    width: 75%;
    height: 50;
    background: #9f3b3b;
    border-radius: 100%;
    margin: 20 0 10 0;
}
.imgList {
    width: 23;
    margin-right: 10;
}
.listHeader{
    margin: 0 0 15 0;
}
    .employeesList {
        background: #ebebeb;
    }