@import '../../../common/style/cockpit.css';
@import '../../../common/style/backActionbar.css';

#profileImage {
    margin: 40 0;
}

    #profileImage > Image {
        width: 40%;
        border-radius: 100%;
    }

    #profileImage > Label {
        text-align: center;
        margin-top: 18;
        font-size: 26;
    }

#main {
    margin: 0 20;
}
    #main-defaultRoom > Label {
        margin-top: 12;
        font-size: 18;
    }
    #main-defaultRoom > TextField {
        font-size: 18;
        width:100%;
    }