<Page class="page" actionBarHidden="true" loaded="pageLoaded">
    <ActionBar></ActionBar>

    <StackLayout>
        <DockLayout id="actionbar" stretchLastChild="false">
            <StackLayout tap="exit" orientation="horizontal" >
                <Image src="~/icons/arrow-left.png" dock="left"/>
                <Label text="Powrót" dock="left"/>
            </StackLayout>
        </DockLayout>

        <StackLayout id="profileImage">
            <Image src="~/images/male.png" />
            <Label text="{{ user }}" />
        </StackLayout>
        
    </StackLayout>
</Page> 