<Page class="page" actionBarHidden="true" loaded="pageLoaded">
    <ActionBar></ActionBar>

    <StackLayout>
        <DockLayout id="actionbar" stretchLastChild="false">
            <StackLayout tap="exit" orientation="horizontal">
                <Image src="~/icons/arrow-left.png" dock="left"/>
                <Label text="Powrót" dock="left"/>
            </StackLayout>
        </DockLayout>

        <StackLayout id="profileImage">
            <Image src="~/images/male.png" />
            <Label text="{{ user }}" />
        </StackLayout>

        <StackLayout id="main">
            <StackLayout id="main-defaultRoom" orientation="horizontal">
                <Label text="Domyślny pokój: " />
                <TextField hint="Domyślny pokój"
                           text="{{ room }}"
                           autocorrect="false"/>
            </StackLayout>

            <StackLayout id="main-hours">
                <DockLayout class="main-hour-post" orientation="horizontal" stretchLastChild="false">
                    <StackLayout class="main-hour-post-date" orientation="horizontal" dock="top">
                        <Label text="8:00" />
                        <Label text=" - " />
                        <Label text="8:01 " />
                        <Label text="Poniedziałek " />
                    </StackLayout>
                    <StackLayout class="main-hour-post-room" orientation="horizontal" dock="bottom">
                        <Label text="Pokój: " />
                        <Label text="202" />
                    </StackLayout>
                    <StackLayout class="main-hour-post-actions" dock="right" orientation="vertical">
                        <Image src="~/icons/edit.png" />
                        <Image src="~/icons/delete.png" />
                    </StackLayout>
                </DockLayout>
            </StackLayout>
        </StackLayout>
        
    </StackLayout>
</Page> 